body {
    margin: 0;
    font-family:"Segoe UI";
}
p{
  color:grey;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}
@media (max-width:800px){
  .wrapper{
    width: 90%;
  }
}
.logo{
    height: 28px;
    }
.franjablanca{
    margin: 20px 0px 20px 0px;
  }
.contenedorblanco{
    display: flex; /* Convierte el contenedor en un layout flex */
    justify-content: space-between; /* Distribuye las cajas con espacio entre ellas */
  }
.menu{
    display: flex;
    justify-content: flex-end;
  }
  
  @media (max-width: 800px) {
    .contenedorblanco{
      flex-direction: column;
    }
    .logo{
      width: 30%;
    }
    .menu {
      flex-direction: column;
      gap: 20px;
      flex:1;
    }
    .item{
      text-align: center;
      flex: 1 1 auto;
      border-bottom: 1px solid grey;
    }
  }
.inicio{
    color:orangered !important;
  } 
.item{
    margin: 0px 10px 0px 10px;
    color:grey;
    cursor: pointer;
  }
.item:hover{
    color:orangered;
  }
.foto{
    width: 100%;
  }
.franjaimagen{
    height:650px; /* Con esto le decimos que al margen de como de grande sea la pantalla, ocupe ese porcentaje siempre*/
    overflow: hidden; /* CON ESTO LE DECIMOS QUE TODO LO QUE SOBRA NO SE MUESTRE, SEA "RECORTA"*/
    display:flex; /* Esto es para poder usar cositas de flex layout, como la siguiente*/
    align-items: center; /* Con esto le decimos, que lo que contenga, en este caso la imagen, me lo pones centradito*/
    position: relative;    
  }
  @media (max-width:800px){
    .franjaimagen{
      justify-content: center;
    }
    .foto{
      height: 100%;
      width: auto;
    }
  }
  
  html, 
  body {
      height: 100%;
   } /* Con esto le decimos que body ocupe todo, sin esto, el porcentaje del 40% de arriba no serviria, porque */

.wrapperparent{
    position: absolute;
    width: 100%;
}
.itemfoto{
    margin: 10px 0px 10px 0px;
}
.titulo{
    color: aliceblue;
    font-weight: bold;
    font-family:sans-serif;
    font-size: 20px;
}
.orange{
    color:orangered;
}
.big{    
    font-family:'Segoe UI';
    font-size: 16px;
}
.white{
  color:aliceblue;
  }
.boton{
  width: 100%;
  height: 40px;
  background-color: orangered;
  color:aliceblue;
  border: 2px solid orangered;
  cursor: pointer;
}
.boton:hover{
  background-color: transparent;
  color:orangered
}
.filtro{
    background-color:black;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    position: absolute;
}
.icono{
  color:aliceblue;
  font-size: 20px;
  cursor: pointer;
}
.iconera{
  display:flex;
  justify-content: space-between;
  padding-top: 10px;
}
.boton-iconos{
  width: 150px;
}

/*Aqui empiezo Our Servicies*/
.centertitle{
  display:flex;
  justify-content:center;
  gap:6px;
  margin-top:20px;
}
.tachado{
  text-decoration:line-through;
  text-decoration-thickness:1.5px;
  text-align: center;
}
.iconoservicio{
  border: 1px solid orangered;
  padding:3px;
  cursor: pointer;
}
.contenedorservicios{
  display:flex;
  flex-wrap:wrap;
}
.servicio{
  width: 30%;
  border-left: 1px solid grey;
  padding-left: 15px;
}
@media (max-width:800px){
  .servicio{
    width: 100%;
    border-left: none;
    border-bottom: 1px solid grey;
    padding-top: 15px;
  }
}
/*Aquí empiezo con SobreNosotras*/
.contenedornosotras{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 90px;
}
.itemnosotras{
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  cursor: pointer;
}
.bordefoto{
  position: absolute;
  border: 3px solid orangered;
  width:90%;
  height: 100%;
  transform:rotate(10deg);
  transition: 0.5s;
}

.itemnosotras:hover .bordefoto{
  transform: rotate(0deg);
}
.fotonosotras{
  width: 90%;
  z-index: 100;
  }
@media (max-width:800px){
  .itemnosotras{
    width:100%;
  }
}
.contenedorhistoria{
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.franjatransparente{
  display: flex;
  justify-content: end;
}
.flechafinal{
  font-size: 40px;
  margin-right: 5px;
  cursor: hand;
}
.franjafinal{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200;
}
.contenedorfinal{
  display: flex;
}